* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding:  0;
}

h1 {
    font-weight: bold;
    font-size: 100px;
    font-family: Verdana, sans-serif;
}

.page1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    text-align: center;
    background-color: aquamarine;
}

.subtitle {
    font-family: Verdana, sans-serif;
    font-size: 50px;
}

.information {
    font-size: 30px;
    color: gray;
}

.question-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    text-align: center;
    background: linear-gradient(aquamarine, blue);
}


.question ul {
    list-style: none;
}

@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
}